<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Vibe Web App</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- socket.io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
</head>
<body>
    <!-- <h1>Voice Vibe Web App</h1> -->
    
    <!-- <button id="startButton">Start Recording</button> -->
    <div id="container">
        <div id="bgg">

        </div>
        <div id="toggleButtonBG">
            <button id="toggleRecording">
                <svg viewBox="0 0 47.964 47.965"
                    xml:space="preserve">
                    <!-- <defs> -->
                            <g>
                                <clipPath id="theClippingPath">
                                    <path d="M23.982,35.268c5.531,0,10.033-4.635,10.033-10.332V10.333C34.015,4.635,29.513,0,23.982,0
                                        c-5.532,0-10.032,4.635-10.032,10.333v14.604C13.951,30.633,18.451,35.268,23.982,35.268z M29.22,24.938
                                        c0,2.974-2.35,5.395-5.238,5.395s-5.238-2.42-5.238-5.395V10.333c0-2.974,2.35-5.395,5.238-5.395s5.238,2.42,5.238,5.395V24.938z"
                                        />
                                    <path d="M40.125,29.994c0-1.361-1.222-2.469-2.72-2.469c-1.5,0-2.721,1.107-2.721,2.469c0,4.042-3.621,7.329-8.074,7.329h-5.257
                                        c-4.453,0-8.074-3.287-8.074-7.329c0-1.361-1.221-2.469-2.721-2.469c-1.499,0-2.719,1.107-2.719,2.469
                                        c0,6.736,6.014,12.221,13.424,12.266v0.766h-5.944c-1.499,0-2.72,1.107-2.72,2.47s1.221,2.47,2.72,2.47h17.325
                                        c1.5,0,2.721-1.107,2.721-2.47s-1.221-2.47-2.721-2.47h-5.942V42.26C34.111,42.215,40.125,36.73,40.125,29.994z"/>
                                </clipPath>
                            </g>
<!--                        
                    </defs> -->
                    <image xlink:href="/static/imgs/grad.jpg" clip-path="url(#theClippingPath)"></image>
                </svg>
            </button>
        </div>
    </div>

    <!-- foooter -->

    <div id="footer">
        <div class="main">
            <span id="result">Emotions</span>
        </div>

        <div class="fileUpload">
            <form action="./upload" method="post" enctype="multipart/form-data" id="UploadFile">
                <input type="file" name="file" id="file" class="inputfile" />
                <label for="file">Upload File</label>
            </form>
        </div>
    </div>

    <div id="siri"></div>

    <!--  -->
    
    <script src="https://unpkg.com/siriwave/dist/siriwave.umd.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
